* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    object-fit: contain;
    max-width: 100%;
}

p {
    font-weight: 300;
}


button:focus {
    outline: 0;
}

#detalje {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 100px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

#detalje .detalje-sko {
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    bottom: 75px;
}

#detalje .detalje-sko .sko-navn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    color: #000;
    font-size: 4vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: 40%;
    text-align: center;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#detalje .detalje-sko .sko-navn h1,
#detalje .detalje-sko .sko-navn h2 {
    margin: 0;
    font-family: 'Permanent Marker', sans-serif;
}

#detalje .detalje-sko .sko-navn h1 {
    text-align: center;
    position: relative;
    top: 28%;
    text-transform: uppercase;
}

#detalje .detalje-sko .sko-navn h2 {
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 4vw;
    text-transform: uppercase;
    max-width: 100%;
}

#detalje .breadcrumb {
    display: flex;
    align-items: center;
}

#detalje .breadcrumb a,
#detalje .breadcrumb p {
    margin-right: 5px;
    text-decoration: none;
    color: #6d6d6d;
    transition: .3s;
    text-transform: uppercase;
}

#detalje .breadcrumb a:hover {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
}


#detalje .beskrivelse {
    justify-content: center;
    place-self: center;

    max-width: 500px;
}

#detalje .beskrivelse .txt p:nth-child(2) {
    margin-bottom: 10px;
}

#detalje .beskrivelse .txt p:nth-child(1) {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 14px 0;
}

#detalje img {
    max-width: 70%;
}

#sneaker_detalje {
    margin: 6em;
    margin-top: 0;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.sneaker_beskrivelse {
    margin-top: 50px;
    padding-left: 20px;
}

.skjul {
    display: none;
}

#detalje button:focus {
    outline: 0;
}

#sizes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 4fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 500px;
}

.size {
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    /*    background-color: #333;*/
    background-image: url(brick.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    color: #000;
    margin-right: 8px;
    margin-top: 10px;
    transition: .3s;

    font-family: 'Permanent Marker', sans-serif;
    font-size: 24px;
}

.size:hover {
    transform: scale(1.06);
}

.buy {
    border: none;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
    margin-top: 100px;
    transition: .3s;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
}

.buy:hover {
    background-color: #64d37c;
}


/*********** HEADER *************/
header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    font-family: 'Permanent Marker', sans-serif;
}

nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

nav a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
    padding: 40px;
}

nav a:first-child {
    align-self: center;
    position: absolute;
    left: 0;
    top: 0;

    transition: .3s;
}

nav a:first-child img {
    height: 50px;
    width: 130px;
    position: absolute;
    left: 10px;
    top: 22px;
    z-index: 10;
    background-color: #fff;
}

nav a:first-child:hover {
    transform: scale(1.04);
}
