* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    object-fit: contain;
    max-width: 100%;
}

p {
    font-weight: 300;
}


button:focus {
    outline: 0;
}

#detalje {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 100px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

#detalje .detalje-sko {
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    bottom: 75px;
}

#detalje .detalje-sko .sko-navn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    color: #000;
    font-size: 4vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: 40%;
    text-align: center;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#detalje .detalje-sko .sko-navn h1,
#detalje .detalje-sko .sko-navn h2 {
    margin: 0;
    font-family: 'Permanent Marker', sans-serif;
}

#detalje .detalje-sko .sko-navn h1 {
    text-align: center;
    position: relative;
    top: 28%;
    text-transform: uppercase;
}

#detalje .detalje-sko .sko-navn h2 {
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 4vw;
    text-transform: uppercase;
    max-width: 100%;
}

#detalje .breadcrumb {
    display: flex;
    align-items: center;
}

#detalje .breadcrumb a,
#detalje .breadcrumb p {
    margin-right: 5px;
    text-decoration: none;
    color: #6d6d6d;
    transition: .3s;
    text-transform: uppercase;
}

#detalje .breadcrumb a:hover {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
}


#detalje .beskrivelse {
    justify-content: center;
    place-self: center;

    max-width: 500px;
}

#detalje .beskrivelse .txt p:nth-child(2) {
    margin-bottom: 10px;
}

#detalje .beskrivelse .txt p:nth-child(1) {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 14px 0;
}

#detalje img {
    max-width: 70%;
}

#sneaker_detalje {
    margin: 6em;
    margin-top: 0;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.sneaker_beskrivelse {
    margin-top: 50px;
    padding-left: 20px;
}

.skjul {
    display: none;
}

#detalje button:focus {
    outline: 0;
}

#sizes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 4fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 500px;
}

.size {
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    /*    background-color: #333;*/
    background-image: url(brick.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    color: #000;
    margin-right: 8px;
    margin-top: 10px;
    transition: .3s;

    font-family: 'Permanent Marker', sans-serif;
    font-size: 24px;
}

.size:hover {
    transform: scale(1.06);
}

.buy {
    border: none;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
    margin-top: 100px;
    transition: .3s;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
}

.buy:hover {
    background-color: #64d37c;
}


/*********** HEADER *************/
header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    font-family: 'Permanent Marker', sans-serif;
}

nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    transition: .3s;
    font-size: 20px;
}

nav a:hover {
    transform: scale(1.04);
}

nav .dropbtn {
    padding: 12px 0 12px 16px;
    font-size: 20px;
    transition: .3s;
}

nav .dropbtn:hover {
    transform: scale(1.04);
}

nav img {
    height: 50px;
    width: 130px;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(storbrick.svg);

}

/***************** HEADER & FOOTER SLUT *****************/



/***************** DROP DOWN MENU **************/
/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Permanent Marker', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 15px;

}

/* Links inside the dropdown */
.dropdown-content .filter,
.dropdown-content .sorter,
.dropdown-content .gender {
    color: black;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #fff;
    border: none;
    border-bottom: 1px inset #333;
    cursor: pointer;

}

.dropdown-content button:hover {
    /* Change color of dropdown links on hover */
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    /* Show the dropdown menu on hover */
    display: block;
}


.dropdown:hover .dropbtn {
    /* Change the background color of the dropdown button when the dropdown content is shown */
    color: #414141;
}

/***************** DROP DOWN MENU SLUT **************/


/********************* MEDIA QUERIES *********************/
@media screen and (min-width:768px) {


    #oversigt {
        max-width: 1000px;
        margin: 0 auto;
    }



}

@media screen and (min-width:1200px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
        float: right;
    }
}

/********************* MEDIA QUERIES SLUT *********************/
