/********************* Generelle indstillinger *********************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
}


#landingpage {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 5rem;
    color: #fff;
}

/********************* Generelle indstillinger slut *********************/


/********************* Header *********************/
header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

nav a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
    padding: 40px;
}

nav a:first-child {
    position: absolute;
    left: 0;
    top: 0;
}

nav a:first-child img {
    height: 65px;
    width: 130px;
    position: absolute;
    left: 10px;
    top: 15px;
}

.logo {
    width: 100%;
    flex-basis: 200px;
    text-align: center;
    padding: 0.5rem;
}

/********************* Header slut *********************/



/********************* Content *********************/
.sectionwrapper {
    height: 100%;
    width: 100%;
    background-size: contain;

    /*    background-position: 65%;*/
    background-repeat: no-repeat;
    background-image: url(landing4.jpg);
    background-size: cover;
    background-position: center
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container h1 {
    margin-top: 200px;
}

.container a {
    height: 50px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color: #000;
    text-decoration: none;
}

/********************* Content Slut *********************/
