h2 {
    font-size: 1.2rem;
}

body {
    margin: 0;
    font-family: 'Open Sans',
        sans-serif;
}

img {
    object-fit: contain;
    max-width: 100%;
}


button:focus {
    outline: 0;
}

/***************** GRID **************/
#container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-bottom: 50px;
}

.sneaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: .3s;
    cursor: pointer;
    margin: 0 15px;
}

.sneaker img {
    object-fit: cover;
    transition: .3s;
}

.sneaker img:hover {
    opacity: 0.85;
    transform: scale(1.02);

}

.sneaker p,
.sneaker h2,
.sneaker img {
    margin: 2px 0;
}

.sneaker p:last-child {
    margin-bottom: 10px;
}

#oversigt {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/***************** GRID SLUT **************/



/***************** BREADCRUMB **************/
.breadcrumb {
    padding-left: 15px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.breadcrumb a,
.breadcrumb p {
    margin-right: 5px;
    text-decoration: none;
    color: #6d6d6d;
    transition: .3s;
    text-transform: uppercase;
}

.breadcrumb a:hover {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
}

/***************** BREADCRUMB SLUT **************/



/***************** DROP DOWN MENU **************/
/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Permanent Marker', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 15px;

}

/* Links inside the dropdown */
.dropdown-content .filter,
.dropdown-content .sorter,
.dropdown-content .gender {
    color: black;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #fff;
    border: none;
    border-bottom: 1px inset #333;
    cursor: pointer;

}

.dropdown-content button:hover {
    /* Change color of dropdown links on hover */
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    /* Show the dropdown menu on hover */
    display: block;
}


.dropdown:hover .dropbtn {
    /* Change the background color of the dropdown button when the dropdown content is shown */
    color: #414141;
}

.valgt {
    font-size: 12px;
    font-weight: 700;
    color: #fff !important;
    background-color: #333 !important;
}

/***************** DROP DOWN MENU SLUT **************/


/***************** HEADER & FOOTER **************/
header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    font-family: 'Permanent Marker', sans-serif;
}

nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    transition: .3s;
    font-size: 20px;
}

nav a:hover {
    transform: scale(1.04);
}

nav .dropbtn {
    padding: 12px 0 12px 16px;
    font-size: 20px;
    transition: .3s;
}

nav .dropbtn:hover {
    transform: scale(1.04);
}

.logo img {
    height: 50px;
    width: 130px;
    z-index: 10;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(storbrick.svg);

}

/***************** HEADER & FOOTER SLUT *****************/








/********************* ANIMATIONER *********************/
.show {
    animation-name: show_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes show_kf {
    0% {
        opacity: 0;
    }

    100% {
        background-color: none;
        opacity: 1;
    }
}

/********************* ANIMATIONER SLUT *********************/


/********************* MEDIA QUERIES *********************/
@media screen and (min-width:768px) {


    #oversigt {
        max-width: 1000px;
        margin: 0 auto;
    }



}

@media screen and (min-width:1200px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
        float: right;
    }
}

/********************* MEDIA QUERIES SLUT *********************/
